@page "{id:int?}"
@using RzeczyDoOddania.Models;
@inject SignInManager<ApplicationUser> _signInManager;
@inject UserManager<ApplicationUser> _userManager;
@model RzeczyDoOddania.Pages.ItemPageModel
@{
    ViewData["Title"] = "Strona przedmiotu";
    int i = 0;
}
<div id="wrapper">    
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"> 
        <div class="carousel-inner">     
            @foreach(var image in Model.Item.Images)           
            {               
                i++;
                var active = i == 1 ? "active" : "";
                <div class="carousel-item @active">
                    <img src="@image" class="d-block w-100" alt="...">
                </div>
            }          
        </div> 
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">   
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>    
            <span class="visually-hidden">Previous</span> 
        </button>  
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">   
            <span class="carousel-control-next-icon" aria-hidden="true"></span>    
            <span class="visually-hidden">Next</span>  
        </button>
    </div>
    <div class="">
        <h5 class="card-title">@Model.Item.Name</h5>        
        <br />
        Kategorie:
        <br />
        @foreach(var category in Model.Item.Categories)   
        {      
            <span class="badge rounded-pill bg-warning">@category.Name</span> 
        }   
        <br />
        @Model.Item.Description   
        <br />
        Adres: @Model.Item.Address   
        <br />
        Data: @Model.Item.Date
    </div>
    
</div>



@if (_signInManager.IsSignedIn(User) && Model.Item.Owner != await _userManager.GetUserAsync(User))
{
    @if (!Model.IsInterested)
    {
        <form method="post">
            <input type="hidden" asp-for="IsInterested" value="true"/>
            <button type="submit" class="btn btn-primary">Zgłoś zainteresoawnie</button>
        </form>
    }
    else
    {
        <form method="post">
            <input type="hidden" asp-for="IsInterested" value="false"/>
            <button type="submit" class="btn btn-primary">Przestań się interesować</button>
        </form>
    }

}

