@page
@model RzeczyDoOddania.Pages.SearchPageModel
@{
    ViewData["Title"] = "Wyszukiwanie";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Image)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelitem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Date)
                </td>
                <td>
                    <image src="@item.Image" width="100" height="auto"></image>
                </td>
                <td>
                    <a asp-page="/ItemPage" asp-route-id="@item.Id" class="btn btn-primary nav-link text-light">Wyświetl</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<body>
    <div class="card-columns">
   
        @foreach (var item in Model.Items)       
        {           
            <div class="card">   
                <div class="card-img-top">
                    <image src="@item.Image" width="100" height="auto"></image>   
                </div>
                  
                <div class="card-body">   
                    <div class="card-body">                       
                        <h5 class="card-title">                         
                            <br><b>@Html.DisplayFor(modelitem => item.Name) </b>
                        </h5>
                        <h5>
                            <br><b>@Html.DisplayFor(modelitem => item.Address)</b>                          
                            <br><b>@Html.DisplayFor(modelitem => item.Date)</b>
                            <br><a asp-page="/ItemPage" asp-route-id="@item.Id" class="btn btn-secondary">Wyświetl</a>
                        </h5>
                    </div>                    
                </div>               
            </div>
        }
    </div>
</body>

